.card-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-items: center;
    transition: 0.3s;
    color: white;

    h2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px) {
    .card-container {
        margin-left: 0;
    }
}
