.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 850px;
    margin-bottom: 18px;
    background-color: white;
    color: black;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    text-decoration: none;
    user-select: none;

    .link {
        margin-top: 0;
        color: black;
        font-size: 30px;
        text-decoration: none;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            color: rgb(0, 136, 41);
        }
    }

    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        font-size: 20px;
    }

    .card-tags {
        display: flex;
        flex-direction: row;
        z-index: 5;

        .card-tag {
            padding: 5px 8px 5px 8px;
            color:white;
            background-color: rgb(41, 41, 41);
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background-color: rgb(83, 83, 83);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .card {
        width: 93%;
    }
}