.pagination {
    display: flex;
    user-select: none;

    .page-item {
        .page-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 18px;
            padding: 10px;
            border-radius: 8px;
            font-weight: bold;
        }
    }

    .active {
        transition: 0.4s;
        background-color: red;
        border-radius: 8px;
    }
}