.post {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    color: black;
    border-radius: 10px;
}

.title {
    margin-bottom: 60px;
    border-bottom: 1px solid rgb(216, 216, 216);

    h1 {
        text-align: center;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;

        .tag {
            padding: 5px 8px 5px 8px;
            background-color: blue;
            margin-right: 5px;
            border-radius: 5px;
            user-select: none;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.markdown {
    font-size: 16px;

    h1, h2 {
        padding: 10px 0 10px 0;
    }

    p {
        margin: 8px 0 8px 0;
    }

    pre, code, span {
        font-size: 14px;
    }
}