@font-face {
  font-family: 'BMJUA';
  src:url('./fonts/BMJUA.woff');
  font-display: swap;
}

@font-face {
  font-family: 'NanumGothic';
  src:url('./fonts/NanumGothic.woff');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
